/*_____________ FONTS ____________*/
/*fonts firasans*/
@font-face {
  font-family: 'FiraSansThin';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/FiraSans/FiraSans-Thin.ttf') format('truetype');
}

.fira-thin {
  font-family: 'FiraSansThin';
}

@font-face {
  font-family: 'FiraSansRegular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/FiraSans/FiraSansRegular/FiraSansRegular.eot');
  src: url('../fonts/FiraSans/FiraSansRegular/FiraSansRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/FiraSans/FiraSansRegular/FiraSansRegular.woff') format('woff'), url('../fonts/FiraSans/FiraSansRegular/FiraSansRegular.ttf') format('truetype');
}

.fira-reg {
  font-family: 'FiraSansRegular';
}

@font-face {
  font-family: 'FiraSansMedium';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/FiraSans/FiraSansMedium/FiraSansMedium.eot');
  src: url('../fonts/FiraSans/FiraSansMedium/FiraSansMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/FiraSans/FiraSansMedium/FiraSansMedium.woff') format('woff'), url('../fonts/FiraSans/FiraSansMedium/FiraSansMedium.ttf') format('truetype');
}

.fira-med {
  font-family: 'FiraSansMedium';
}

@font-face {
  font-family: 'FiraSansLight';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/FiraSans/FiraSansLight/FiraSansLight.eot');
  src: url('../fonts/FiraSans/FiraSansLight/FiraSansLight.eot?#iefix') format('embedded-opentype'), url('../fonts/FiraSans/FiraSansLight/FiraSansLight.woff') format('woff'), url('../fonts/FiraSans/FiraSansLight/FiraSansLight.ttf') format('truetype');
}

.fira-light {
  font-family: 'FiraSansLight';
}

@font-face {
  font-family: 'FiraSansBold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/FiraSans/FiraSansBold/FiraSansBold.eot');
  src: url('../fonts/FiraSans/FiraSansBold/FiraSansBold.eot?#iefix') format('embedded-opentype'), url('../fonts/FiraSans/FiraSansBold/FiraSansBold.woff') format('woff'), url('../fonts/FiraSans/FiraSansBold/FiraSansBold.ttf') format('truetype');
}

.fira-bold {
  font-family: 'FiraSansBold';
}

/*fonts philosopher*/
@font-face {
  font-family: 'PhilosopherRegular';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Philosopher/PhilosopherRegular/PhilosopherRegular.eot');
  src: url('../fonts/Philosopher/PhilosopherRegular/PhilosopherRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/Philosopher/PhilosopherRegular/PhilosopherRegular.woff') format('woff'), url('../fonts/Philosopher/PhilosopherRegular/PhilosopherRegular.ttf') format('truetype');
}

.phil-reg {
  font-family: 'PhilosopherRegular';
}

@font-face {
  font-family: 'PhilosopherBold';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Philosopher/PhilosopherBold/PhilosopherBold.eot');
  src: url('../fonts/Philosopher/PhilosopherBold/PhilosopherBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Philosopher/PhilosopherBold/PhilosopherBold.woff') format('woff'), url('../fonts/Philosopher/PhilosopherBold/PhilosopherBold.ttf') format('truetype');
}

.phil-bold {
  font-family: 'PhilosopherBold';
}

@font-face {
  font-family: 'PhilosopherItalic';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Philosopher/PhilosopherItalic/PhilosopherItalic.eot');
  src: url('../fonts/Philosopher/PhilosopherItalic/PhilosopherItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Philosopher/PhilosopherItalic/PhilosopherItalic.woff') format('woff'), url('../fonts/Philosopher/PhilosopherItalic/PhilosopherItalic.ttf') format('truetype');
}

.phil-i {
  font-family: 'PhilosopherItalic';
}

@font-face {
  font-family: 'PhilosopherBoldItalic';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Philosopher/PhilosopherBoldItalic/PhilosopherBoldItalic.eot');
  src: url('../fonts/Philosopher/PhilosopherBoldItalic/PhilosopherBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Philosopher/PhilosopherBoldItalic/PhilosopherBoldItalic.woff') format('woff'), url('../fonts/Philosopher/PhilosopherBoldItalic/PhilosopherBoldItalic.ttf') format('truetype');
}

.phil-bi {
  font-family: 'PhilosopherBoldItalic';
}
